<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: head"></head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
        <div th:if="${response != null}" class="alert alert-success" role="alert" th:text="${response}"></div>
            <h2>Customer Registration</h2>
            <form th:action="@{/customers/saveCustomer}" th:object="${customer}" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>ID</label>
                        <input type="number" class="form-control" th:value="${id}" th:field="*{id}" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" th:field="*{name}" th:value="${name}">
                    </div>
                    
                    <div class="col-md-12 form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" th:field="*{address}" th:value="${address}">
                    </div>

                    <div class="col-md-6 form-group">
                        <strong>Gender</strong>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="option1" value="Male">
                            <label class="form-check-label" for="option1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{gender}" id="option2" value="Female">
                            <label class="form-check-label" for="option2">Female</label>
                        </div>
                    </div>
                    <div class="col-md-6 form-group"></div>
                    
                     <div class="col-md-6 form-group">
                        <label>Date of Birth</label>
                        <input type="date" class="form-control" id="dob" name="dob" th:field="*{dob}" th:value="*{dob}">
                    </div>
                     <div class="col-md-6 form-group">
                        <label>Contact Number</label>
                        <input type="number" step="any" class="form-control" th:field="*{mob_num}" th:value="${id}">
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
	<footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>